

.background{
    clear:left;
    height: 90vh;
    width: 101vw;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }
  
  .scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 640px;
    margin-left: 50vw;
    width :50vw;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 4px;
    height: 5px;
    border-radius: 100%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
  
  .Notice{
    display:inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 39px;
    width: 97vw;
    height: 350px;
    text-align: center;
  }
  
  #notice{
    font-size: 30px;
  }
  p{
    font-size: 20px;
  }
  