.question_photo{
    clear:left;
    height: 40vh;
    width: 100vw;
    background-image: url(../images/question_photo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.page_title{
    margin-top: 10px;
    margin-left: 45px;
    width: 250px;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url(../images/question_title.png);   
}

#create_button{
    margin-right: 3%;
    padding:5px;
    float:right;
    width: 130px;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    border-color:#FFB902 ;
    background-color: #FFB902;
}

table{
    margin-top: 20px;
    margin-left: auto;
    margin-right:auto;
    width: 94vw;
    height: 350px;
    text-align: center;
    border-style: none;
    border-color: white;
    table-layout: fixed;
    border-top: 1px solid #AAAAAA;
    border-collapse: collapse;
}

thead{
    font-weight: 600;
    font-size:17px;
    
}

td {
    border-bottom: 1px solid #AAAAAA;
    padding: 10px;

  }


#prevbutton,#nextbutton{
    width: 60px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    border-radius: 5px;
    border-color:#FFB902 ;
    
}
.pagination{
    text-align: center;
    margin-bottom: 100px;
}

